/*
 **************************************
	Main frame - grid
 **************************************
*/

body {
	margin: 0;
    padding: 0;
    font-family: "Open sans", sans-serif;
    display: grid;
	grid-template-rows: repeat(3, 1fr);
}

h1 {
    font-size: 28px;
}

p {
    font-size: 16px;
}

/* 
**************************
HEADER
**************************
*/



.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.headerleft {
    align-items: flex-start;
    flex-grow: 3;
    margin: 20px;
    margin-bottom: 0;
}

.logo {
    margin-left: auto;
    flex-grow: 1;
}

h1 {
    color: lightskyblue;
    text-align: center;
    justify-content: center;
}

/*
***************************
MENU
***************************
*/

.menu__list {
	list-style: none;
	margin: 0;
	padding: 0;
    display: flex;
}

.menu__item {
	margin: 10px;
	padding: 10px;
}

.menu__list a {
    text-decoration: none;
    color: white;
}

.menu__list a:hover {
    background-color: lightskyblue;
    color: black;
    padding: 15px;
    font-size: 20px;
  }

  /*
***************************
FOOTER
***************************
*/

.footer {
    text-align: center;
}

.footerkontakty {
    background-color: black;
    color: white;
}

/*
***************************
SOCIAL MEDIA
***************************
*/

.youtube,
.instagram {
margin-right: 20px;
}
